<!DOCTYPE html> 
<html>
<head>
    <link rel="stylesheet" href="<%= css %>"/>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="initial-scale=1,user-scalable=no,minimum-scale=1,maximum-scale=1,width=device-width">
    <meta name="description" content="<%= title %>">
</head>
<body class="container">
    <h1><%= title %></h1>
    <div><b><%= date %></b></div>
    <%- html %>
</body>
</html> 